BasedOnStyle: Microsoft
IndentWidth: 4
UseTab: Never
TabWidth: 4
BreakBeforeBraces: Allman
ColumnLimit: 240
AccessModifierOffset: -4
SortIncludes: false
AllowShortBlocksOnASingleLine: false
AlignAfterOpenBracket: DontAlign
AllowShortFunctionsOnASingleLine: None
PointerAlignment: Left
AllowShortIfStatementsOnASingleLine: false
SpacesBeforeTrailingComments: 2
AllowShortCaseLabelsOnASingleLine: false
AllowShortLambdasOnASingleLine: None
IndentCaseLabels: true
AlwaysBreakTemplateDeclarations: Yes
AlignEscapedNewlines: Left
NamespaceIndentation: All